.front-page  {

    /* Layout */
    &--wrapper {
        @include grid-row;
    }
    &--right {
        @include grid-column($columns:12);
        @media #{$medium-up} {
            @include grid-column($columns:6, $float:right);
        }
        .front-page--call-to-actions {
            display: block;
            @media #{$medium-up} { display: none; }
        }
    }
    &--left {
        @include grid-column($columns:12);
        @media #{$medium-up} {
            @include grid-column($columns:6, $float:right);
        }
        .front-page--call-to-actions {
            display: none;
            @media #{$medium-up} { display: block; }
        }
    }

    /* Featured section */
    &--featured {
        @include grid-row;
        font-size: rem-calc(14);
        margin-bottom: rem-calc(20);

        @media #{$medium-up} {
            color: white;
            font-size: rem-calc(18);
        }

        /* Featured article/event */
        &--inner {
            @include grid-column($columns:12);
        }

        a, a:link {
            text-decoration: none;
        }
        article {
            position: relative;
            @include card;
            padding: 0;
            border: 4px solid $primary-color;
        }
        @media #{$medium-up} {
            .entry-meta {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: white;
                color: #222;
                padding: 10px;
            }
            .entry-image {
                margin-bottom: -4px;
            }
        }
        .entry-title {
            font-size: rem-calc(20);
            margin-bottom: rem-calc(8);

            @media #{$medium-up} {
                font-size: rem-calc(30);
            }
        }
        .event--meta--type {
            font-size: rem-calc(16);
        }
        @media #{$medium-up} {
            .event-price {
                @include outlined;
                font-weight: bold;
                position: absolute;
                right: 32px;
                bottom: 20px;
            }
        }
        @media #{$small-only} {
            .entry-meta,
            .event-price {
                padding: 0 rem-calc(16);
                background-color: white;
            }
            .entry-meta {
                padding-top: rem-calc(10);
                padding-bottom: rem-calc(10);
            }
            .event-price {
                padding-bottom: rem-calc(16);
            }
        }

    }

    /* Articles */
    &--articles {
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(20);

        @media #{$medium-up} {
            margin-top: 0;
        }

        h2 {
            margin-bottom: rem-calc(10);
        }
        article {
            @include grid-row;
            @include card;
            padding: 0;
            margin-bottom: rem-calc(10);
        }
        .article-content {
            @include grid-column($columns: 12);

            padding-top: rem-calc(10);
            padding-bottom: rem-calc(20);
            font-size: rem-calc(14);
            line-height: 1.4;

            h3 {
                font-size: rem-calc(18);
                @media #{$medium-up} {
                    font-size: rem-calc(20);
                }
            }
        }
        .entry-published-datetime {
            display: block;
            margin-top: 2px;
            margin-bottom: 10px;
            color: #666;
            font-size: rem-calc(14);
            font-family: $header-font-family;
            font-weight: 200;
        }
        .article-image {
            @include grid-column($columns: 12, $collapse: true);

        }
        .entry-summary {
            line-height: 1.55;
        }
    }

    /* Events / Program */
    &--events {
        margin-top: rem-calc(20);
        @media #{$medium-up} { margin-top: 0; }

        h2 {
            margin-bottom: rem-calc(10);
        }
        article {
            @include card;
            @include clearfix;
            margin-bottom: rem-calc(10);
            padding: 0;
        }
        .event-content {
            @include grid-column($columns:12);

            @media #{$large-up} {
                @include grid-column($columns:7);
            }

            position: relative;
            padding-top: rem-calc(10);
            padding-bottom: rem-calc(10);
            font-size: rem-calc(14);
            line-height: 1.4;

            h3 {
                font-size: rem-calc(18);
                margin-bottom: rem-calc(8);
            }
        }
        .event-image {
            @include grid-column($columns:12, $collapse: true);

            @media #{$large-up} {
                @include grid-column($columns: 5, $collapse: true);
            }
            margin-bottom: -5px;  // FIXME: hack
        }
        .event--meta--type {
            margin-left: 0;
            margin-bottom: 4px;
        }
        .event-price {
            @include outlined;
            font-weight: bold;
            float: right;
        }
    }
}

/* Frontpage: Newsletter signup */
.front-page--newsletter {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(20);
}
.newsletter-signup-form {
    label {
        display: none;
    }
    .email {
        @include grid-column($columns: 7);
        @media #{$medium-up} {
            @include grid-column($columns: 8);
        }
        margin-bottom: rem-calc(10);
    }
    [type=submit] {
        @include grid-column($columns: 5);
        @media #{$medium-up} {
            @include grid-column($columns: 4);
        }
        margin-bottom: rem-calc(10);
    }
    .subtitle {
        font-size: rem-calc(14);
    }
}

/* Front page call to actions */
.fp {
    &--actions-list {
        @include block-grid($per-row: 1, $spacing: 0);
        margin-top: rem-calc(20);

        @media #{$medium-up} {
            @include block-grid($per-row: 3, $spacing: 0);
        }

        a, a:link {
            color: white;
        }
    }

    &--action-item {
        text-align: left;
        line-height: 1.5;
        font-size: rem-calc(14);
        a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            background-color: #333;
            padding: 16px;

            @media #{$medium-up} {
                display: table-cell;
                vertical-align: middle;
                border-radius: 5px;
                text-align: center;
                width: 200px;
                height: 150px;
                padding: 0;
            }

            &:hover, &:focus {
                background-color: #555;
            }
        }
        h3 {
            font-size: rem-calc(18);
            line-height: 1.1;
        }
    }

    &--action-icon {
        // FIXME: ICON sizes
        width: 36px;
        height: auto;
        float: left;
        margin-right: 10px;

        @media #{$medium-up} {
            margin-top: 4px;
            margin-bottom: 4px;
            float: none;
        }
    }
}
