
/* General */
body {
    background-color: $body-bg;

    img {
        max-width: 100%;
        height: auto;
    }
    a, a:link {
        color: $primary-color;
    }
    a:hover, a:focus {
        color: lighten($primary-color, 10%);
    }

    h1, h2, h3, h4 {
        margin: 0;
        a, a:link {
            color: #222;
            text-decoration: none;
        }
        a:hover, a:focus {
            color: #444;
        }
    }
    /* Override */
    .vcard {
        border: 0;
        margin: 0;
        padding: 0;
    }

}
html {
    box-sizing: border-box;
}
body,
html {
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
#content {
    @include grid-row;
}
.container {
    @include grid-column($columns: 12);
}

/* Reusable styles */
.card {
    @include card;
}
.card-z1 {
    @include card-z1;
}
.card-z2 {
    @include card-z2;
}


/* Posts */

.entry-title,
.entry-title a {
    font-weight: 200;
}
.page h1.entry-title,
.post h1.entry-title {
    font-weight: 800;
}
article.page,
.single-post ,
.single-association,
.single-event {
    article {
        margin: 0 auto;
        max-width: rem-calc(870px);
        @include card;
    }
    .entry-title {
        //margin-bottom: 20px;
        padding: 0 rem-calc(16);
    }
    .entry-meta {
        padding: 0 rem-calc(16);
    }
    .entry-content {
        padding: rem-calc(16);

        h1, h2, h3, h4, h5 {
            font-family: $header-font-family;
        }
        p {
            margin-top: 0;
            padding-top: 0;
        }
        p,
        li {
            font-size: rem-calc(18);
            line-height: 1.55;
        }
        table {
            font-family: $font-family-sans-serif;
        }
    }
    .wp-caption-text:empty {
        display: none;
    }
}
.single-post {
    .entry-title {
        margin-bottom: 0;
    }
    .entry-meta {
        margin-bottom: rem-calc(10);
        color: #666;
        font-weight: 200;
        font-family: $header-font-family;

        .author {
            color: black;
            font-weight: normal;
        }
    }
    .entry-content {
        font-family: $font-family-serif;
    }
}
.full-width-container article {
    max-width: none;
}
/* Social sharing */
#social-sharing {
    padding: rem-calc(16);
}
.share-twitter,
.share-facebook {
    display: inline-block;
}
.share-facebook {
    position: relative;
    top: -4px;
    padding-left: rem-calc(6);
}

/* Newsletter */
.newsletter-signup-form {
    padding: rem-calc(16);
}