/* Header, Menu */

#site-header {
    margin-bottom: rem-calc(20);
    padding-top: rem-calc(16);
    padding-bottom: rem-calc(10);
    background-color: $primary-color;

}
.site-header-inner {
    @include grid-row;
}
.site-brand {
    @include grid-column(12, $collapse: true);

    text-align: center;

    @media #{$medium-up} {
        text-align: left;
    }

    @media #{$medium-up} {
        @include grid-column($columns:12);
    }
    @media #{$large-up} {
        @include grid-column($columns:5);
    }

    a, a:link {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
    }
    .blog-name {
        font-weight: bold;
        font-size: rem-calc(16);
        display: inline-block;

        @media #{$medium-up} {
            padding-top: 20px;
        }
    }
    .blog-description {
        font-size: rem-calc(14);
    }
}
.site-logo {
    max-width: 70%;
    display: block;
    margin: 0 auto;
    padding: 0 10px;

    @media #{$medium-up} {
        margin: 0;
        float: left;
        max-width: 400px;
    }
}