/* Mixins */
@mixin outlined() {
    padding: .4em 0.4em;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: rgba(0,0,0, 0.3) 1px 1px 1px;
    &:hover, &:focus {
        color: white;
    }

    &:hover {
        background: linear-gradient($primary-color, darken($primary-color, 10%) 95%);
    }
}