
/* Page: Program */
.page-template-page-program {
    section {
        background-color: white;
        padding: 20px;
    }
    .table {
        width: 100%;
        border: 0;
    }
    .alt {
        background-color: transparent;
    }
    .month td {
        padding-top: 20px;
    }
}


/* Page: Associations */
.associations-list {
    @include block-grid($per-row: 2);
}

/* Component: Program 6 days */
.program-6days {
    @media #{$small-only} {
        display: none;
    }
}