/* General page styles */
.page--sidebar-wrap {
    display: none;
    @media #{$medium-up} {
        display: block;
        @include grid-column($columns: 3);
    }

}

.page--sidebar {
    @include card;
    padding: rem-calc(10);
}
.page--content {
    @include grid-column($columns: 12);
    @media #{$medium-up} {
        @include grid-column($columns: 9);
    }

    article.page {
        @include card;
    }
    .entry-content {
        font-family: $font-family-serif;
    }
}

/* Page: Program */
.program {
    &--filter-wrap {
        @include grid-column($columns: 12);
        margin-bottom: rem-calc(20);

        @media #{$medium-up} {
            @include grid-column($columns: 3);
        }
    }
    &--list-wrap {
        @include grid-column($columns: 12);
        //@media #{$medium-up} {
        //    @include grid-column($columns: 9);
        //}
    }
    &--filter {
        @include card;
        padding: rem-calc(16);
    }
    &--list {
        @include card;
        padding: rem-calc(16);
    }
}
.page-template-page-program {
    .alt {
        //background-color: #f4f4f4;
    }
    .month {
        padding-top: rem-calc(16);
        padding-bottom: rem-calc(4);
    }
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 32px;
    }
    .event-row {
        margin-bottom: rem-calc(16);
    }
    .event-datetime-daynum {
        font-size: rem-calc(32);
        margin-right: rem-calc(4);

        @media #{$medium-up} {
            display: inline-block;
            margin-right: rem-calc(8);
            width: rem-calc(44);
            text-align: right;
        }
    }
    .event-title {
        font-size: rem-calc(28);
        font-weight: 200;
        font-family: $header-font-family;

        @media #{$medium-up} {
            font-size: rem-calc(30);
        }
    }
    .event-price {
        @include outlined;
    }
    .event-venue {
        svg {
            width: 16px;
            height: 16px;
        }
    }
    .event-type {
        @include label();
        a {
            color: white;
            &:hover {
                color: rgba(white, 0.5);
            }
        }
    }
    .event-ticket {
        @include button(rem-calc(8));
        margin-bottom: 0;
    }
    .event-attributes {
        padding-bottom: rem-calc(16);
        border-bottom: 1px solid #ccc;

        @media #{$medium-up} {
            margin-left: rem-calc(58)
        }
    }

}


/* Page: Associations */
.associations-list {
    @include block-grid($per-row: 2);
}

/* Component: Program 6 days */
.program-6days {
    @media #{$small-only} {
        display: none;
    }
}