@import "normalize";
@import "foundation/functions";

/* We try to use semantic classes (mostly) */
$include-html-classes: false;
$include-html-global-classes: false;
$block-grid-media-queries: false;
$include-html-form-classes: true;
$include-html-table-classes: true;
$include-html-type-classes: true;

/* Grid */
$row-width: rem-calc(1200);

/* Colors */
$primary-color: rgb(245, 130, 32);
$secondary-color: red; // what red
$grey-color: #ccc;

$body-bg: #fafafa;

$header-font-family: 'Roboto', sans-serif;
$header-font-weight: 800;

@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/tables";

@import "mixins";
@import "buttons";

@import "general";
@import "accessibility";
@import "header";
@import "menu";
@import "footer";
@import "frontpage";
@import "pages";