[submodule "wp/wp-content/plugins/neuf-events"]
	path = wp/wp-content/plugins/neuf-events
	url = git://git.neuf.no/neuf-events.git
[submodule "wp/wp-content/plugins/wpdirauth"]
	path = wp/wp-content/plugins/wpdirauth
	url = git://git.neuf.no/wpdirauth.git
[submodule "wp/wp-content/plugins/neuf-associations"]
	path = wp/wp-content/plugins/neuf-associations
	url = git://git.neuf.no/neuf-associations
[submodule "wp/wp-content/plugins/wp-json-api"]
	path = wp/wp-content/plugins/wp-json-api
	url = git://git.neuf.no/wp-json-api
[submodule "wp/wp-content/plugins/opengraph"]
	path = wp/wp-content/plugins/opengraph
	url = git://github.com/willnorris/wordpress-opengraph.git
