[submodule "plugins/wpdirauth-posixgroup"]
	path = plugins/wpdirauth-posixgroup
	url = https://git.neuf.no/edb/wpdirauth.git
[submodule "dns2019"]
	path = dns2019
	url = https://git.neuf.no/edb/dns2019.git
	branch = master
