$content-column-left-width: 70%;
$content-column-right-width: 30%;
$content-padding: 2em;
$footer-height: 86px;
$page-width-desktop: 90%;
$max-page-width-desktop: 1200px;
$page-width-pad: 95%;
$logo-banner-height: 50px;
$logo-banner-width: 432px;
