@media screen and (min-width: 960px) {
	#footer,
	#root {
		width: 90%;
		max-width: 1200px;
	}
}

/**
 * Typography
 */

p {
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
	line-height:1.5em;
	color:#333;
	margin:1.5em 0;
}

.home {
	section#content {
		section#featured {
			margin-top:1em;
			position:relative;

			#sprev, #snext {
				position:absolute;
				display:block;
				width:45px;
				height:34px;
				top:150px;
				z-index:9;
				overflow:hidden;
				text-indent:-99999px;
			}
			#sprev {
				left:2em;
				background: transparent url('../img/slider_arrow_left.png') center;
			}
			#snext {
				right:2em;
				background: transparent url('../img/slider_arrow_right.png') center;
			}

			#slider {
				article {
					width:100%;
					background: #000 no-repeat center;

					.info {
						width:100%;
						background:rgba(255,255,255,0.5);
						position:absolute;
						bottom:0;
						z-index:1;

						* {
							z-index:1;
						}
					}
				}

				.permalink {
					display:block;
					width:100%;
					height:100%;
					overflow:hidden;
					text-indent:-9999px;
					z-index:8;
				}
			}
		}
	}
}

.single {
	section#content > article.hentry {

		padding: 2em 0;

		* {
			padding: 0 2em;
		}

		header {
			padding: 0;

			img.attachment-post-header-image {
				width:100%;
				padding:0;
			}

			h1 {
				padding:0 1em;
				color:#f09321;
				font-size:2em;
			}

			* {
				padding: 0;
			}
		}

		header > *  {
			padding:0 2em;
		}

}
}
