form {
	input {
		@include border-radius(1em);
		background-color: $input-background-color;
		border: 0;
		padding: 0.25em 0.5em;
	}
}

@mixin content-box($width) {
	@include border-radius(1em);
	@include box-shadow($page-shadow-color, 0.5em, 0.25em, 0);
	background-color: $content-background-color;
	float: left;
	margin: 0 2% 1% 0;
	min-height: 300px;
	width: $width - 2%;
}
