/* line 17, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../src/skin.scss */
form input {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  background-color: white;
  border: 0;
  padding: 0.25em 0.5em;
}

/* line 10, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -86px;
}
/* line 18, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 86px;
}

/* line 20, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 86px;
}

/* line 14, ../src/main.scss */
article[role="main"],
section[role="main"] {
  background-color: white;
}
/* line 17, ../src/main.scss */
article[role="main"] div[role="main_page"],
article[role="main"] div[role="post_content"],
section[role="main"] div[role="main_page"],
section[role="main"] div[role="post_content"] {
  padding: 2em;
}
/* line 11, ../src/skin.scss */
article[role="main"] div[role="post_content"] p,
section[role="main"] div[role="post_content"] p {
  margin: 1em 0;
}
/* line 22, ../src/main.scss */
article[role="main"] div[role="post_content"] h1,
section[role="main"] div[role="post_content"] h1 {
  color: #f09321;
  font-size: 2em;
}

/* line 29, ../src/main.scss */
aside[role="complementary"] {
  background-color: white;
}

/* line 34, ../src/main.scss */
body,
html {
  background-color: #dadadc;
}

/* line 38, ../src/main.scss */
#footer {
  -moz-border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -o-border-radius: 0.5em 0.5em 0 0;
  -ms-border-radius: 0.5em 0.5em 0 0;
  -khtml-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0;
  background-color: #efefef;
}
/* line 41, ../src/main.scss */
#footer #supporters {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer #supporters li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer #supporters li:first-child, #footer #supporters li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer #supporters li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#footer #supporters li.last {
  padding-right: 0;
}

/* line 46, ../src/main.scss */
header {
  overflow: hidden;
  *zoom: 1;
  padding-top: 2em;
}
/* line 49, ../src/main.scss */
header #site-title {
  float: left;
  padding-bottom: 2em;
  width: 70%;
}
/* line 53, ../src/main.scss */
header #site-title a {
  background-image: url("../img/logo/DNSlogo.png");
  background-position: left top;
  background-repeat: no-repeat;
  min-height: 50px;
  min-width: 432px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  text-indent: -9999px;
}
/* line 65, ../src/main.scss */
header #meta-header {
  float: right;
  width: 30%;
}
/* line 69, ../src/main.scss */
header #meta-header form input {
  margin: 0.5em 0;
}
/* line 71, ../src/main.scss */
header #meta-header form input:first-child {
  margin-top: 0;
}
/* line 74, ../src/main.scss */
header #meta-header form input[name='search'] {
  margin-top: 1.5em;
}
/* line 80, ../src/main.scss */
header #skip-link {
  display: none;
}
/* line 83, ../src/main.scss */
header nav {
  float: left;
  width: 70%;
}
/* line 86, ../src/main.scss */
header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li:first-child, header nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li.last {
  padding-right: 0;
}
/* line 89, ../src/main.scss */
header nav ul li a {
  -moz-border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -o-border-radius: 0.5em 0.5em 0 0;
  -ms-border-radius: 0.5em 0.5em 0 0;
  -khtml-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0;
  -moz-box-shadow: 0.5em 0.25em 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0.5em 0.25em 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0.5em 0.25em 0 rgba(0, 0, 0, 0.14);
  background-color: white;
  color: #f09321;
  display: block;
  padding: 0.5em 2em;
  text-decoration: none;
}
/* line 97, ../src/main.scss */
header nav ul li a:hover {
  background-color: #d37a28;
  color: white;
}
/* line 102, ../src/main.scss */
header nav ul li.current-menu-item a {
  background-color: #f09321;
  color: white;
}

/* line 111, ../src/main.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 17, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.gem/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../src/skin.scss */
form input {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  background-color: white;
  border: 0;
  padding: 0.25em 0.5em;
}

@media screen and (min-width: 660px) {
  /* line 14, ../src/main-pad.scss */
  article[role="main"],
  section[role="main"] {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -o-border-radius: 1em;
    -ms-border-radius: 1em;
    -khtml-border-radius: 1em;
    border-radius: 1em;
    -moz-box-shadow: 0.5em 0.25em 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0.5em 0.25em 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0.5em 0.25em 0 rgba(0, 0, 0, 0.14);
    background-color: white;
    float: left;
    margin: 0 2% 1% 0;
    min-height: 300px;
    width: 68%;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -o-border-top-left-radius: 0;
    -ms-border-top-left-radius: 0;
    -khtml-border-top-left-radius: 0;
    border-top-left-radius: 0;
  }

  /* line 19, ../src/main-pad.scss */
  aside {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -o-border-radius: 1em;
    -ms-border-radius: 1em;
    -khtml-border-radius: 1em;
    border-radius: 1em;
    -moz-box-shadow: 0.5em 0.25em 0 rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 0.5em 0.25em 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0.5em 0.25em 0 rgba(0, 0, 0, 0.14);
    background-color: white;
    float: left;
    margin: 0 2% 1% 0;
    min-height: 300px;
    width: 28%;
  }

  /* line 24, ../src/main-pad.scss */
  #footer,
  #root {
    margin: 0 auto -86px;
    width: 95%;
  }
}
@media screen and (min-width: 960px) {
  /* line 3, ../src/main-desktop.scss */
  #footer,
  #root {
    width: 90%;
    max-width: 1200px;
  }
}
/**
 * Typography
 */
/* line 13, ../src/main-desktop.scss */
p {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5em;
  color: #333;
  margin: 1.5em 0;
}

/**
 * Details
 */
/* line 29, ../src/main-desktop.scss */
.single section#content > article.hentry {
  margin: 5% 0;
}
/* line 33, ../src/main-desktop.scss */
.single section#content > article.hentry * {
  margin: 0 5%;
}
/* line 37, ../src/main-desktop.scss */
.single section#content > article.hentry * * {
  margin: 0;
}
/* line 41, ../src/main-desktop.scss */
.single section#content > article.hentry header {
  margin: 0;
}
/* line 44, ../src/main-desktop.scss */
.single section#content > article.hentry header img.attachment-post-header-image {
  width: 100%;
  margin: 0;
}
/* line 49, ../src/main-desktop.scss */
.single section#content > article.hentry header h1 {
  color: #f09321;
  font-size: 2em;
}
/* line 54, ../src/main-desktop.scss */
.single section#content > article.hentry header * {
  margin: 0;
}
/* line 59, ../src/main-desktop.scss */
.single section#content > article.hentry header > * {
  margin: 0 5%;
}

/* line 69, ../src/main-desktop.scss */
.home section#content article.type-event,
.home section#content section#featured article {
  background: #000 no-repeat center;
  position: relative;
}
/* line 73, ../src/main-desktop.scss */
.home section#content article.type-event .info,
.home section#content section#featured article .info {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  z-index: 1;
}
/* line 80, ../src/main-desktop.scss */
.home section#content article.type-event .info *,
.home section#content section#featured article .info * {
  z-index: 1;
}
/* line 86, ../src/main-desktop.scss */
.home section#content .permalink {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 7;
}
/* line 96, ../src/main-desktop.scss */
.home section#content section#featured {
  margin: 5% 0 2.5%;
  position: relative;
}
/* line 100, ../src/main-desktop.scss */
.home section#content section#featured #sprev, .home section#content section#featured #snext {
  position: absolute;
  display: block;
  width: 45px;
  height: 34px;
  top: 150px;
  z-index: 9;
  overflow: hidden;
  text-indent: -99999px;
}
/* line 110, ../src/main-desktop.scss */
.home section#content section#featured #sprev {
  left: 5%;
  background: transparent url("../img/slider_arrow_left.png") center;
  cursor: w-resize;
}
/* line 115, ../src/main-desktop.scss */
.home section#content section#featured #snext {
  right: 5%;
  background: transparent url("../img/slider_arrow_right.png") center;
  cursor: e-resize;
}
/* line 121, ../src/main-desktop.scss */
.home section#content section#featured #slider {
  height: 332px;
}
/* line 124, ../src/main-desktop.scss */
.home section#content section#featured #slider article {
  width: 100%;
  height: 332px;
}
/* line 131, ../src/main-desktop.scss */
.home section#content section#events {
  overflow: hidden;
}
/* line 133, ../src/main-desktop.scss */
.home section#content section#events article {
  width: 42.5%;
  height: 214px;
  margin: 2.5% 5% 2.5% 2.5%;
  float: right;
}
/* line 139, ../src/main-desktop.scss */
.home section#content section#events article.alt {
  margin-left: 5%;
  margin-right: 2.5%;
  float: left;
}
/* line 146, ../src/main-desktop.scss */
.home section#content section#news {
  clear: both;
  overflow: hidden;
  margin: 0 0 2.5%;
}
/* line 151, ../src/main-desktop.scss */
.home section#content section#news header {
  display: inline;
}
/* line 155, ../src/main-desktop.scss */
.home section#content section#news article {
  margin: 2.5% 0;
  clear: both;
  overflow: hidden;
}
/* line 163, ../src/main-desktop.scss */
.home section#content section#news article img,
.home section#content section#news article h1,
.home section#content section#news article p {
  width: 42.5%;
  margin: 0 2.5% 0 5%;
  float: left;
}
/* line 169, ../src/main-desktop.scss */
.home section#content section#news article h1,
.home section#content section#news article p {
  margin: 0 5% 0 2.5%;
  float: right;
}
/* line 174, ../src/main-desktop.scss */
.home section#content section#news article.alt img {
  margin: 0 5% 0 2.5%;
  float: right;
}
/* line 179, ../src/main-desktop.scss */
.home section#content section#news article.alt h1,
.home section#content section#news article.alt p {
  margin: 0 2.5% 0 5%;
  float: left;
}
