@media screen and (min-width: 960px) {
  /* line 3, ../src/main-desktop.scss */
  #footer,
  #root {
    width: 90%;
    max-width: 1200px;
  }
}
/**
 * Typography
 */
/* line 13, ../src/main-desktop.scss */
p {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5em;
  color: #333;
  margin: 1.5em 0;
}

/**
 * Details
 */
/* line 29, ../src/main-desktop.scss */
.single section#content > article.hentry {
  margin: 5% 0;
}
/* line 33, ../src/main-desktop.scss */
.single section#content > article.hentry * {
  margin: 0 5%;
}
/* line 37, ../src/main-desktop.scss */
.single section#content > article.hentry * * {
  margin: 0;
}
/* line 41, ../src/main-desktop.scss */
.single section#content > article.hentry header {
  margin: 0;
  /* object {
  	margin: 0;
  } */
}
/* line 44, ../src/main-desktop.scss */
.single section#content > article.hentry header img.attachment-post-header-image {
  max-height: 450px;
  margin: 0;
  display: block;
  margin: 0 auto;
}
/* line 56, ../src/main-desktop.scss */
.single section#content > article.hentry header h1 {
  color: #f09321;
  font-size: 2em;
}
/* line 61, ../src/main-desktop.scss */
.single section#content > article.hentry header * {
  margin: 0;
}
/* line 66, ../src/main-desktop.scss */
.single section#content > article.hentry header > * {
  margin: 0 5%;
}

/* line 76, ../src/main-desktop.scss */
.home section#content article.type-event, .home section#content section#featured article {
  background: #000 no-repeat center;
  position: relative;
}
/* line 80, ../src/main-desktop.scss */
.home section#content article.type-event .info, .home section#content section#featured article .info {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  z-index: 1;
}
/* line 87, ../src/main-desktop.scss */
.home section#content article.type-event .info *, .home section#content section#featured article .info * {
  z-index: 1;
}
/* line 93, ../src/main-desktop.scss */
.home section#content .permalink {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 7;
}
/* line 103, ../src/main-desktop.scss */
.home section#content section#featured {
  margin: 5% 0 2.5%;
  position: relative;
}
/* line 107, ../src/main-desktop.scss */
.home section#content section#featured #sprev, .home section#content section#featured #snext {
  position: absolute;
  display: block;
  width: 45px;
  height: 34px;
  top: 150px;
  z-index: 9;
  overflow: hidden;
  text-indent: -99999px;
}
/* line 117, ../src/main-desktop.scss */
.home section#content section#featured #sprev {
  left: 5%;
  background: transparent url("../img/slider_arrow_left.png") center;
  cursor: w-resize;
}
/* line 122, ../src/main-desktop.scss */
.home section#content section#featured #snext {
  right: 5%;
  background: transparent url("../img/slider_arrow_right.png") center;
  cursor: e-resize;
}
/* line 128, ../src/main-desktop.scss */
.home section#content section#featured #slider {
  height: 332px;
}
/* line 131, ../src/main-desktop.scss */
.home section#content section#featured #slider article {
  width: 100%;
  height: 332px;
}
/* line 138, ../src/main-desktop.scss */
.home section#content section#events {
  overflow: hidden;
}
/* line 140, ../src/main-desktop.scss */
.home section#content section#events article {
  width: 42.5%;
  height: 214px;
  margin: 2.5% 5% 2.5% 2.5%;
  float: right;
}
/* line 146, ../src/main-desktop.scss */
.home section#content section#events article.alt {
  margin-left: 5%;
  margin-right: 2.5%;
  float: left;
}
/* line 153, ../src/main-desktop.scss */
.home section#content section#news {
  clear: both;
  overflow: hidden;
  margin: 0 0 2.5%;
}
/* line 158, ../src/main-desktop.scss */
.home section#content section#news header {
  display: inline;
}
/* line 162, ../src/main-desktop.scss */
.home section#content section#news article {
  margin: 2.5% 0;
  clear: both;
  overflow: hidden;
  display: inline-block;
}
/* line 171, ../src/main-desktop.scss */
.home section#content section#news article img, .home section#content section#news article h1, .home section#content section#news article p {
  width: 42.5%;
  margin: 0 2.5% 0 5%;
  float: left;
}
/* line 177, ../src/main-desktop.scss */
.home section#content section#news article h1, .home section#content section#news article p {
  margin: 0 5% 0 2.5%;
  float: right;
}
/* line 182, ../src/main-desktop.scss */
.home section#content section#news article.alt img {
  margin: 0 5% 0 2.5%;
  float: right;
}
/* line 187, ../src/main-desktop.scss */
.home section#content section#news article.alt h1, .home section#content section#news article.alt p {
  margin: 0 2.5% 0 5%;
  float: left;
}

/* line 197, ../src/main-desktop.scss */
.page-program h1.week {
  display: block;
  clear: both;
  color: white;
  background: black;
  margin: 1em 0 0;
  padding: 0.5em 5%;
}
/* line 206, ../src/main-desktop.scss */
.page-program .day {
  width: 42.5%;
  margin: 2.5% 2.5% 2.5% 5%;
  display: block;
  float: left;
}
/* line 213, ../src/main-desktop.scss */
.page-program .day.alt {
  margin: 2.5% 5% 2.5% 2.5%;
  float: right;
}
/* line 218, ../src/main-desktop.scss */
.page-program .hidden {
  display: none;
}
