.event {
    &--content {
        @include grid-column($columns: 12);
        margin-bottom: rem-calc(20);

        @media #{$large-up} {
            @include grid-column($columns: 8);
        }

        .entry-title {
            margin-bottom: 4px;
            line-height: 1;
        }

        .event--meta--type:first-of-type {
            margin-left: rem-calc(16);
        }

        .event--meta--price {
            margin-top: 10px;
        }
    }

    &--sidebar {
        @include grid-column($columns: 12);

        @media #{$large-up} {
            @include grid-column($columns: 4);
        }

        h3 {
            font-size: rem-calc(18);
        }
    }
}

.event--meta {
    padding: rem-calc(16);

    &--type {
        @include label($bg: darken($secondary-color, 8%), $text-size: rem-calc(12));

        &,
        a {
            color: white;
            &:link {
                color: white;
            }
            &:hover {
                color: rgba(white, 0.5);
            }
        }
    }

    &--start {
        @include card-z1();
        display: inline-block;
        text-align: center;
        padding: 9px 12px 8px;

        &--weekday,
        &--month {
            font-weight: 200;
            font-family: $header-font-family;
            font-size: rem-calc(14);
        }

        &--day {
            font-size: rem-calc(34);
        }

        &--year {
            display: inline-block;
            padding-top: rem-calc(2);
            font-size: rem-calc(22);

            &:empty {
                display: none;
            }
        }
    }

    &--start--time {
        @include card-z1;
        display: inline-block;
        padding: 7px 8px 4px 8px;
        text-align: center;
        margin-left: 4px;

        .time-inner {
            font-size: rem-calc(28);
        }

        .time-at {
            font-weight: 200;
            font-family: $header-font-family;
            font-size: rem-calc(14);
        }
    }

    &--price {
        @include outlined;
        display: inline-block;
        margin-left: 4px;
    }

    &--facebook {
        display: inline-block;
        margin-left: 4px;
        vertical-align: bottom;
        position: relative;
        top: 2px;

        svg {
            width: 30px;
            height: 30px;
        }

        path {
            fill: #ccc;
        }

        &:hover {
            path {
                fill: #3b5998;
            }
        }
    }

    &--venue {
        position: relative;
        top: 1px;
        margin-left: 4px;
        svg {
            width: 14px;
            height: 14px;
        }
    }

    &--ticket {
        @include button(rem-calc(8));
        margin-left: 4px;
        color: white;
        margin-bottom: 0;

        @media #{$small-only} {
            display: block;
            margin: 10px 0;
            padding: 16px;
        }

        &:link {
            color: white;
        }
    }
}
