/* Footer */

#site-footer {
    margin-top: rem-calc(20);
    padding-top: rem-calc(40);
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 1.55;
}
.footer-wrap {
    @include grid-row;
}
.footer {
    &--social-media {
        @include grid-column($columns: 12);

        @media #{$medium-up} {
            @include grid-column($columns: 6);
        }

        ul {
            @include block-grid($per-row: 4);
        }
        .social-media-link {
            display: block;
            svg {
                width: 50px;
                height: 50px;
            }
        }
    }
    &--about {
        @include grid-column($columns:12);

        @media #{$medium-up} {
            text-align: left;
            @include grid-column($columns:6);
        }

    }
    &--kolofon {
        background-color: #222;
        padding-top: rem-calc(40);
        padding-bottom: rem-calc(40);
        @include grid-column($columns:12);
    }
}
