
/* General */
body {
    background-color: $body-bg;
    font-family: $body-font-family;

    img {
        width: 100%;
        height: auto;
    }
    a, a:link {
        color: $primary-color;
    }
    a:hover, a:focus {
        color: lighten($primary-color, 10%);
    }

    h1, h2, h3, h4 {
        margin: 0;
        a, a:link {
            color: #222;
            text-decoration: none;
        }
        a:hover, a:focus {
            color: #444;
        }
    }
    /* Override */
    .vcard {
        border: 0;
        margin: 0;
        padding: 0;
    }

    a.btn {
        padding: rem-calc(10) rem-calc(18);
        color: white;
        &:link {
            color: white;
        }
    }
}
html {
    box-sizing: border-box;
}
body,
html {
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
#content {
    @include grid-row;
}
.container {
    @include grid-column($columns: 12);
}

/* Reusable styles */
.card {
    @include card;
}
.card-z1 {
    @include card-z1;
}
.card-z2 {
    @include card-z2;
}
